name: Release

on:
  push:
    tags:
      - 'v*'

env:
  ECR_REPO: public.ecr.aws/odigos/agents/ruby-community

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-ecr-upload
          aws-region: 'us-east-1'

      - name: Log in to Amazon ECR
        run: |
          aws ecr-public get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin public.ecr.aws

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: release.Dockerfile
          push: true
          build-args: AGENT_VERSION=${{ github.ref_name }}
          tags: ${{ env.ECR_REPO }}:${{ github.ref_name }},${{ env.ECR_REPO }}:latest

      - name: Notify Slack
        uses: odigos-io/ci-core/.github/actions/slack-release-notification@main
        with: 
          webhook-url: ${{ secrets.ODIGOS_RELEASE_STATUS_WEBHOOK_URL }}
          success-description: "Published a new release of OpenTelemetry Ruby Community Agent"
          failure-description: "ERROR: Failed to publish a new release of OpenTelemetry Ruby Community Agent"
          tag: ${{ github.ref_name }}
            